<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Meu css personalizado -->
    <link rel="stylesheet" href="/home/roger/Documents/detector_fakenews_v2/detectorfakenews/static/meu.css" />

    <title>Detector Fakenews</title>
</head>
<link rel="shortcut icon" href="/home/roger/Documents/detector_fakenews_v2/detectorfakenews/static/img/favicon.png">
<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4">Detector Fakenews</a>

            </div>
            <div class="navbar-nav mr-4">
                <a class="nav-item" href="#">
                    <img src="/home/roger/Documents/detector_fakenews_v2/detectorfakenews/static/img/brazil.png">
                </a>

            </div>
            <div class="navbar-nav mr-4">
                <a class="nav-item" href="#">
                    <img src="/home/roger/Documents/detector_fakenews_v2/detectorfakenews/static/img/united-states.png">
                </a>

            </div>

        </nav>
    </header>

    <div id="header">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 shadow-sm p-3 mb-5 bg-white rounded">
                    <h3>Cole abaixo o link da notícia que deseja verificar</h3>

                    <div class="p-3"></div>

                    <form class="form" role="form">

                        <div class="input-group">
                            <input type="link" class="form-control" placeholder="cole aqui o link da notícia">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button">enviar</button>
                            </div>
                        </div>

                    </form>
                    <br>
                    <h2 class="subtitle">Noticia classificada como: </h2>

                    <p class=" p-3">Isso esta corrreto?</p>
                    <div class="text-center p-3">

                        <button type="button" class="btn btn-md btn-outline-success">Esta sim!</button>
                        <button type="button" class="btn btn-md btn-outline-warning">Não tenho certeza...</button>
                        <button type="button" class="btn btn-md btn-outline-danger">Foi classificado errado!</button>
                    </div>

                    <div class="alert alert-success" role="alert">
                          Obrigado!
                    </div>



                </div><!-- primeira coluna -->

                <!--------------------------------------->

                <div class="col-lg-6 shadow-sm p-3 mb-5 bg-white rounded">
                    <h3>Enviar uma notícia para aprimorar o sistema</h3>

                    <div class="p-3"></div>

                    <form class="form" role="form">

                        <div class="input-group">
                            <input type="link" class="form-control" placeholder="cole aqui o link da notícia">

                        </div>

                    </form>
                    <br>
                    <h2 class="subtitle">Essa notícia é? </h2>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Verdadeira</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Fake News</label>
                    </div>

                    <div class="text-center p-3">
                        <br>
                        <button type="button" class="btn btn-md btn-outline-info">Enviar!</button>

                    </div>
                    <div class="alert alert-success" role="alert">
                      Obrigado!
                  </div>
                </div><!-- segunda coluna -->

            </div>
        </div>
        <!-- container -->
</body>
<div class="footer bg-steel">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright">&copy; detector de fakenews - 2018-2019</p>
            </div>
            <div class="col-md-6">
                <p class="copyright">Notícias classificadas até agora: xxx</p>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>